/*
possible color palettes
#F8F8FF - off white
#91cade - light blue
#EF0D50 - red
#EB3A70 - lighter red
#D49BB9 - matte pink */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F8FF;
  font-family: 'Questrial', sans-serif;
}

#mainNavBar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavBar .navbar-brand {
  color: #353839;
  font-size: 1.5rem;
  margin-left: 1rem;
}

#mainNavBar .nav-link {
  color: #EB3A70;
  position: relative;
}

#mainNavBar .nav-link:hover {
  color: #353839;

}

#mainNavBar .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0px; 
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #353839;
  transition: width 0.3s ease; 
}

#mainNavBar .nav-link:hover::before {
  width: 100%; 
}


h1 {
  font-weight: 100;
  font-size: 4rem;
}

.blurb h2 {
  color: #EB3A70;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.blurb i {
  color: #91cade
}

.blurb p {
  color: #D49BB9;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 2em;
  margin-bottom: 1.25em;
}

.blurb a {
  color: #EB3A70;
  font-weight: 300;
  font-size: 1.4rem;
}

.blurb a:hover {
  color: #353839
}

.icon-grid {
  line-height: 3.5;
}

.icon-grid i {
  color: #353839
}

.devicon-mongodb-plain-wordmark {
  font-size: 2.75em
}

.devicon-vscode-plain {
  font-size: 2em
}

.devicon-xcode-plain {
  font-size: 2.5em
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

footer a {
  color: #353839;
}

footer a.up-arrow:hover {
  color: #EB3A70;
}

footer a.linkedin:hover {
  color: #0072B1;
}

footer a.github:hover {
  color: #7DBBE6;
}

footer a.instagram:hover {
  color: #C13584;
}

footer a.twitter:hover {
  color: #1DA1F2;
}

footer a.email:hover {
  color: #DD4B39;
}

footer p {
  color: #353839;
  font-weight: 100;
  font-size: 1.125rem;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  h1 {
    font-weight: 100;
    font-size: 3rem;
  }

}

@media (max-width: 960px) {
  #mainNavBar {
    font-size: 1.15rem;
    font-weight: 100;
    background-color: #353839;

  }

  #mainNavBar .navbar-brand {
    color: #D49BB9;
    font-size: 1.5rem;

  }

  #mainNavBar .nav-link:hover {
    color: #D49BB9;
  }

  #mainNavBar .nav-link {
    color: #EB3A70;
    margin-left: 1rem;
  }

  .blurb p {
    color: #D49BB9;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2;
    margin-top: 2em;
  }

  .blurb a {
    color: #EB3A70;
    font-weight: 300;
    font-size: 1.25rem;
  }

}